@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Bold.woff2");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-SemiBold.woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Regular.woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Nothing You Could Do";
	src: url("../fonts/NothingYouCouldDo-Regular.woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.woff2");
	font-style: normal;
	font-weight: 300;
}
